@import url(./font/stylesheet.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body
{
    width: 100%;
    overflow-x: hidden;
    font-weight: bold;
}
.nav-item{
    font-family: 'D-DIN Condensed';
    font-size: 1.3rem;
    font-weight: 600;
    padding:5px;
}
.nav-item:hover{
    border-bottom: 2px solid black;
}
.navbar{
    background-color: #FFF200;
    height: 100px; 
    border-bottom: solid 2px #cfc530;
}

 .flag{
    height: 50px;
    width: 50px;
    padding: 5px;
}

.text
{
    font-family: 'D-DIN Condensed';
    color:black;
}



.call{

    font-family: 'D-DIN Condensed';
    font-size: 2rem;
    font-weight: bold;
    line-height:1 ;
    margin-top:5px;
    color:black;
}
.main-content{
    background-color:#feed00 ;
}
.sec-left{
    padding: 68px ;
    height:109vh;
}
.sec-left .heading{

    margin: 60px 20px 0 20px;
    font-family: 'D-DIN Condensed';
    font-size: 80px;
    font-weight: bold;
    color: black;

}
.sec-left .black-bg{
    background-color: black;
    color: white;
    font-family: 'D-DIN Condensed';
    font-size: 3rem;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 4px 16px -4px rgba(0,0,0,0.67);
}
.sec-left .small-head{
    margin: 20px;
    font-family: 'D-DIN Condensed';
    font-weight: 600;
    font-size: 3.5rem;
    color: black;
    text-transform: uppercase;
    bottom: 0;
    line-height: 0.8;
}
.sec-left .main-head{
    font-family: 'D-DIN Condensed';
    font-size: 8rem;
    font-weight: bold;
    color: black;
    margin: 20px 20px;
    padding: 0;
    line-height:0.8 ;
}
.sec-left .tagline{
    font-family: 'D-DIN Condensed';
    color: black;
    margin-left:20px;
    font-weight: 600;
    letter-spacing: 1.2;
    line-height: 0.95;
    text-transform: uppercase;
    font-size: 4rem;

}

.home{
    justify-content: center;
    float: left;
    display: flex;
    flex-direction:column;
    align-items: center;
}
 .home-btn{
    background-color: #feed00;
    box-shadow: 0px 4px 16px -4px rgba(0,0,0,0.50);
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'D-DIN Condensed';
    font-weight: 700;
    border: 0;
}
.kiosk{
    justify-content: center;
    float: right;
    display: flex;
    flex-direction:column;
    align-items: center;
    

}
 .kiosk-btn{
    background-color: #feed00;
    box-shadow: 0px 4px 16px -4px rgba(0,0,0,0.50);
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    width: 50%;
    font-family: 'D-DIN Condensed';
    font-weight: 700;
    border : 0;

}
.text-heading{
    font-family: 'D-DIN Condensed';
    color: black;
    margin: 20px 10px 20px 10px; 
    font-weight: 600;
    line-height: 0.95;
    font-size: 2rem;
    text-align: center;
    line-height: 1;
    padding: 10px;

}
.left{
    text-align: justify;
}
.bottom{
    margin-bottom: 0px;
}


.display-text{

    padding: 10px;

}
.btn{
    padding: 10px 20px;
    font-family: 'D-DIN Condensed';
    font-size: 1rem;
    font-weight: 600;
}

form .text-block{
 
  box-sizing: border-box;
  display: flex;
  height: 64px;
  border: 1px solid rgba(166,177,198,0.5);
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.3);
  margin-bottom:16px;
  padding-left: 20px;
}
.text-block::placeholder{
    height: 21px;
    color: #4A4A4A;
    font-family: "D-DIN Condensed";
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
}
.drop{

    box-sizing: border-box;
  height: 64px;
  width: 200px;
  border: 1px solid rgba(166,177,198,0.5);
  border-radius: 5px;
  color: #4A4A4A;
  font-family: "D-DIN Condensed";
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 25px;
  background-color: #FFFFFF;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.3);
  margin-bottom:16px;
  display: inline;
}

.select {
    height: 21px;
    width: 154px;
    color: #4A4A4A;
    font-family: "D-DIN Condensed";
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 25px;
    display: inline;
}


.label{
    color: #4A4A4A;
    text-transform: uppercase;
    font-family: "D-DIN Condensed";
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 29px;
}

.toggle-customer{

    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
    width: auto;
    border: 1px solid rgba(166,177,198,0.5);
    border-radius: 5px;
    background-color: #FFFFFF;
    vertical-align: middle;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.3);
    margin-bottom:16px; 
}
.file-input{

    box-sizing: border-box;
    display: inline;
    width: 200px;
    font-family: "D-DIN Condensed";
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 25px;
    border: 1px solid rgba(166,177,198,0.5);
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.3);

}