@import url(./font/stylesheet.css);
body
{
    width: 100;
    height: 100vh;
    overflow: hidden;
    font-family: 'D-DIN Condensed';
    font-weight: bold;
}
.row .yellow-bg{

    background-color: yellow;
    height: 100vh;
}

.row .black-bg-heading{

    background-color: #353535;
    color:yellow;

    padding:15px;
    margin: 100px 40px 60px 60px ;
    display: inline-block;
    font-family: 'D-DIN Condensed';
    font-weight: bold;
    border-radius: 10px;
}
.row  .big-text{
    color:#353535;
    font-size: 80px;
    padding:20px;
    font-family: 'D-DIN Condensed';
    font-weight: bold;
    margin-left:40px ;
}
.row  .input-white{

    display: block;
    padding: 10px 100px 10px 100px;
    margin: 10px 60px 10px 60px;
    border: none;
    font-family: 'D-DIN Condensed';
    font-weight: bold;
    border-radius: 10px;
}
.row .input-white::placeholder{

    color:gray;
    font-size: 14px;
    font-family: 'D-DIN Condensed';
    font-weight: bold;

}
.row  .btn-black{
   background-color: #353535;
   color:yellow;
   font-family: 'D-DIN Condensed';
   font-weight: bold;
   font-size: 15px;
   padding: 10px 40px 10px 40px;
   border:none;
   border-radius: 10px;
   margin:20px 60px 20px 60px;

}
.row .white-bg{
    background-color: white;
    height:100vh ;
}
.row  .input-yellow{

    display: block;
    background-color: yellow;
    padding: 10px 100px 10px 100px;
    margin: 10px 60px 10px 60px;
    border: none;
    font-family: 'D-DIN Condensed';
    font-weight: bold;
    border-radius: 10px;
}
.row .input-white::placeholder{

    color:gray;
    font-size: 14px;
    font-family: 'D-DIN Condensed';
    font-weight: bold;

}
.toast-body{
    background-color: yellow;
}
